<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jusbrasil - Desafio Backend Engineer | Data</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
</head>

<body>

    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">TJ Busca</a>
            </div>
        </div>
    </header>

    <main>

        <div class="jumbotron">
            <div class="container">
                <h1>Buscar</h1>
                <p>Selecione um tribunal para listar os processos ou buscar pelo número unificado</p>

                <form method="POST">
                    <select name="local" required>
                        <option value="">Tribunal</option>
                        {% for tribunal in tribunais %}
                        <option value="{{ tribunal.code }}" {% if tribunal.code == formdata.local %}selected{% endif %}>
                            {{ tribunal.name }}
                        </option>
                        {% endfor %}
                    </select>
                    <input type="text" name="code" value="{{ formdata.code }}" placeholder="Número de processo" required />

                    <input type="submit" value="Buscar">
                </form>

            </div>
        </div>

        {% if error %}
        
        <div class="container">
            <div class="alert">
                [{{ error }}] Erro ao processar a solicitação. Favor conferir os dados informados.
            </div>
        </div>

        {% endif %}


        {% if process %}
        <article>

            <div class="container">

                <div class="row">
                    <div class="col">
                        <h2>Processo numero {{ process.code }}</h2>
                        <p>Distribuido em {{ process.date }}</p>

                        <div class="moviment">
                            <h3>Movimentações</h3>

                            {% for moviment in process.moviments %}

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ moviment.date }}</h5>

                                    <p class="card-text">
                                        {% for line in moviment.lines %}
                                            <span>{{ line }}</span><br/>
                                        {% endfor %}
                                    </p>
                                    
                                </div>
                            </div>

                            {% endfor %}

                        </div>

                    </div>
                    <aside class="col col-3">
                        
                        <h3>Detalhes do processo</h3>
                        <ul>
                            <li>Área: {{ process.area }}</li>
                            <li>Assunto: {{ process.subject }}</li>
                            <li>Juiz: {{ process.judge }}</li>
                            <li>Valor: R$ {{ process.amount }}</li>
                        </ul>

                        <h3>Partes envolvidas</h3>

                        {% for grouper, items in process.parts|groupby('group') %}

                            <div class="group">
                                <h4>
                                    {% if grouper == "author" %}
                                    Parte Autora
                                    {% else %}
                                     Ré
                                    {% endif %}
                                </h4>
                                
                                <ul>
                                    {% for item in items %}
                                    {% for part_line in item.parts %}
                                        <li class="part-name">{{ part_line }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>

                                
                            </div>

                        {% endfor %}

                    </aside>
                </div>

            </div>

        </article>

        {% endif %}

    </main>

</body>

</html>